.links{
    flex-basis: 8vh;
    background: $bg-color2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 2vw;
&__social{
    flex-basis: 200px;
    display: flex;
    justify-content: space-between;
@media (orientation: landscape){
    padding: 1vh 0 1vh 0;
}
.fab{
    font-size: 3rem;
}
.fa-facebook-square{
    color: #4267b2;
}
.fa-twitter-square{
    color: #1da1f2;
}
.fa-youtube{
    color: #ff0000;
}
}
}