$bg-color1: #000;
$bg-color2: #fff;
$bg-color3: #e3e3e3;
$bg-color4: #e2e2e2;
$bg-color5: #1a1a1a;
$bg-color6: #fbfbfb;
$bg-color7: #292929;
$bg-color8: #e7e7e7;
$bg-color9: #e1e1e1;

$main-color1: #e4bb7a;
$main-color2: #282828;
$main-color3: #3f3f3f;
$main-color4: #41403f;
$main-color5: #e4bb7ae1;
$main-color6: #d8a34e;
$main-color7: #e4bb7af5